/* General styling */


/* Navbar styling */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Section headings */
section h2 {
    margin-bottom: 30px;
    font-weight: bold;
    color: #333;
}

/* About section */
#about p {
    max-width: 600px;
    margin: 0 auto;
}

/* Projects section */
#projects .card {
    margin-top: 20px;
}

/* Footer */
footer {
    font-size: 0.9rem;
}

#skills img {
    margin-bottom: 10px;
}

#skills p {
    font-weight: bold;
}