html, body {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
}

.logo {
    max-width: 200px;
}

.stack-list {
    list-style: none;
    padding-left: 0;
}

.stack-list li div {
    height: 100%;
}

.stack-list li p a {
    color: yellow;
}

.profile-pic {
    height: 200px;
}

.contact-info p a {
    color: gold;
}

.bg-primary {
    background-color: red;
}